* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #eee;
}

.App {
  position: absolute;
  width: 80%;
  height: 90vh;
  top: 5%;
  left: 10%;
  background-color: #f5f5f5;
  box-shadow: 3px 8px 20px rgba(160, 160, 160, 0.432);
}
